<%@tag description="Rider Page template" pageEncoding="UTF-8"%>
<%@taglib prefix="t" tagdir="/WEB-INF/tags" %>


<t:genericpage>
 <jsp:body>
    <p>Hi I'm the heart of the message</p>
  </jsp:body>
</t:genericpage>